@font-face {
  font-family: "SVN-Product Sans";
  src: url("../../public/fonts/SVN-ProductSansBoldItalic.woff2") format("woff2"),
    url("../../public/fonts/SVN-ProductSansBoldItalic.woff") format("woff"),
    url("../../public/fonts/SVN-ProductSansBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Product Sans";
  src: url("../../public/fonts/SVN-ProductSansBold.woff2") format("woff2"),
    url("../../public/fonts/SVN-ProductSansBold.woff") format("woff"),
    url("../../public/fonts/SVN-ProductSansBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Product Sans";
  src: url("../../public/fonts/SVN-ProductSansItalic.woff2") format("woff2"),
    url("../../public/fonts/SVN-ProductSansItalic.woff") format("woff"),
    url("../../public/fonts/SVN-ProductSansItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Product Sans";
  src: url("../../public/fonts/SVN-ProductSans.woff2") format("woff2"),
    url("../../public/fonts/SVN-ProductSans.woff") format("woff"),
    url("../../public/fonts/SVN-ProductSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("../../public/fonts/icomoon/icomoon.eot?qnhehr");
  src: url("../../public/fonts/icomoon/icomoon.eot?qnhehr#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/icomoon/icomoon.ttf?qnhehr") format("truetype"),
    url("../../public/fonts/icomoon/icomoon.woff?qnhehr") format("woff"),
    url("../../public/fonts/icomoon/icomoon.svg?qnhehr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e900";
}
.icon-angle-right:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e986";
}
