.menu-link {
  font-family: 'SVN-Product Sans';
  font-weight: bold;
  position: relative;

  &:hover {
    &::before {
      width: 100%;
    }
  }

  &::before {
    content: '';
    background-color: #FFC800;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 8px;
    border-radius: 12px;
    z-index: -1;
    transition: width 0.2s;
  }
}