.pagination {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.page-item {
  padding: 4px 8px;
  font-weight: bold;
  transition: color 0.25s;

  &:hover {
    color: $color-secondary;
  }

  &.active {
    color: $color-secondary;
  }

  &.disabled {
    color: gray;
  }
}
