.product-card-item {
  position: relative;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  padding: 12px;
  text-align: left;
  transition: border-color 0.5s;

  &::before {
    content: "";
    background-image: url("../../public/images/product-shadow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: right 0.35s, top 0.35s;
  }

  &__btn {
    text-align: center;
    height: 0;
    margin-top: 16px;
    overflow: hidden;
    transition: height 0.3s;
  }

  &:hover {
    height: 100%;

    .product-card-item__btn {
      height: 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .product-card-item {
    border-radius: 16px;
    padding: 20px;
    border: 4px solid #fff;

    &:hover {
      height: 100%;
      border-color: $color-primary;

      &::before {
        opacity: 1;
        top: -12px;
        right: -12px;
      }

      &::after {
        background-color: $color-primary;
      }
    }
  }
}
