.slick-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  li {
    display: inline-block;
    margin: 0 4px;
  }
  button {
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    background-color: white;
    border-radius: 50%;
  }
}
.slick-dots li.slick-active button {
  background-color: $color-primary;
}

.banner-home {
  .slick-dots {
    bottom: 10px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: 0;
  background-color: $color-primary;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;

  &::before {
    font-family: "icomoon";
    font-size: 16px;
  }
}

.slick-prev {
  right: 50%;
  transform: translateX(-8px);

  &::before {
    content: "\e900";
  }
}

.slick-next {
  left: 50%;
  transform: translateX(8px);

  &::before {
    content: "\e901";
  }
}

.facebook-slider {
  position: relative;
  padding-bottom: 60px;

  .slick-center {
    .review-item {
      filter: drop-shadow(0px 2.99864px 17.9918px rgba(0, 0, 0, 0.1));

      &::after {
        height: 0;
      }
    }

    & + .slick-active {
      .review-item {
        &::after {
          background: linear-gradient(
            360deg,
            $background-body -0.19%,
            rgba(244, 244, 244, 0) 161.82%
          );
        }
      }
    }
  }

  .review-item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $background-body 0%,
        rgba(244, 244, 244, 0) 121.74%
      );
    }
  }
}

@media only screen and (min-width: 1024px) {
  .slick-dots {
    button {
      width: 12px;
      height: 12px;
    }
  }

  .facebook-slider {
    padding-right: 100px;
    padding-bottom: 0;

    .slick-prev,
    .slick-next {
      top: 50%;
      bottom: auto;
      right: 30px;
      left: auto;
      transition: opacity 0.25s;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-prev {
      transform: rotate(90deg) translateX(-46px);
    }
    .slick-next {
      transform: rotate(90deg) translateX(4px);
    }
  }
}
